@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Italic';
	src: url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
}

/*===================================================*/

body {
	margin: 0;
	min-width: 270px; /*чтобы контент влево не уезжал, на очень узком экране (хотя можно это исправить потом)*/
}

.header-wrapper {
	background-color: #F6F2F2;
	min-height: 118px;
	/*min-width: 300px;*/

	/*Выравнивание флексом (можно и без него, но если в соответствии с ТЗ, то наверное так правильнее будет):*/
	display: flex;
	justify-content: center;
}

header {
	/*Если выравнивание без флекса:*/
	/*max-width: 1249px;*/
	/*margin: 0 auto;*/
	/*position: relative;*/
	/*top: 29px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 29px;

	min-height: 89px;

	display: flex;
	justify-content: center;

	background-color: #000000;
	opacity: 0.8;
}

.site-menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*margin: 0;*/
	/*padding: 0;*/
	height: inherit;
	/*text-align: center;*/
}

/*на смарте кнопки меню подвисают...*/
.site-menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 33px 20px 32px 20px;
	color: #E0E0E0;

	font-family: 'OpenSans-Bold', sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.49px;
}

.site-menu a:hover {
	/*background-color: #FF3F40;*/
	background-color: #FF2D2D;
}

/*===================================================*/

.stage-1 {
	background-color: #F6F2F2;
	min-height: 570px;
	/*min-width: 300px;*/

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;
}

.stage-1-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 103px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 103px;
	
	/*min-height: 370px;*/

	display: flex;
	/*justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	/*align-items: flex-start;*/	
}

.stage-1-left-block {
	/*margin: 0;*/
	padding-right: 50px;

	width: 55%;
	/*min-width: 300px;*/
	/*min-height: 370px;*/

	position: relative;
	top: -15px;
}

.stage-1-left-block h1 {
	margin: 0;
	/*width: 618px;*/
	/*width: 100%;*/
	/*align-items: center;*/

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-ExtraBold', sans-serif;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 1.5px;
	word-break: break-word;
}

.stage-1-left-block p {
	/*position: relative;*/
	margin: 19px 0 55px 0;
	/*margin-top: 37px;*/
	/*padding: 0;*/
	/*width: 545px;*/
	/*width: 100%;*/
	/*top: 20px;*/
	/*align-items: center;*/

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
}

.stage-1-left-block .button-link {
	display: inline-block;
	width: 230px;

	/*position: relative;*/
	/*left: 110px;*/
	
	padding: 12px 0 12px 0;
	text-decoration: none;
	background-color: #FF2D2D;
	text-align: center;
	border-radius: 5px;
	/*align-items: center;*/

	color: #FFFFFF;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;	
	letter-spacing: 0.3195px;
}

.image-link {
	width: 45%; 
	/*text-align: right;*/

	/*min-width: 300px;*/
	/*min-height: 370px;*/
}

.image-link img {
	/*position: relative;
	/*display: inline-block;*/
	width: 100%;
	height: auto;
	/*top: 0;*/
	/*right: 0;*/
	/*background-color: gray;*/
}

/*===================================================*/

.stage-2 {
	min-height: 589px;

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;
}

.stage-2-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 107px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 107px;
	margin-bottom: 59px;
	
	/*min-height: 370px;*/

	display: flex;
	/*justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	/*align-items: flex-start;*/
}

.stage-2-left-block {
	/*margin: 0;*/
	padding-right: 39px;
	margin-bottom: 30px;

	width: 50%;
	/*min-width: 300px;*/
	/*min-height: 370px;*/

	position: relative;
	top: -10px;
}

.stage-2-left-block h2 {
	margin: 0;

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 55px;
	letter-spacing: 0.42px;
	word-break: break-word;
}

.stage-2-left-block p {
	/*position: relative;*/
	margin: 32px 0 82px 0;

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
}

.stage-2-left-block .button-link {
	display: inline-block;
	width: 227px;

	/*position: relative;*/
	/*left: 110px;*/
	
	padding: 10px 0 10px 0;
	text-decoration: none;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.0001);
	border: 2px solid #FF0000;
	box-sizing: border-box;
	border-radius: 5px;
	/*align-items: center;*/

	color: #FF2D2D;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;	
	letter-spacing: 0.3195px;
}


.stage-2-right-block {
	/*margin: 0;*/
	/*padding-right: 50px;*/

	width: 50%;
	/*min-width: 300px;*/
	/*min-height: 370px;*/

	/*position: relative;*/
	/*top: -15px;*/

	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.stage-2-right-block .item {
	/*width: 50%;*/
	flex: 1 1 290px;
	margin-bottom: 49px;
}

.stage-2-right-block .item:nth-child(odd) {
	margin-right: 15px;
}

.stage-2-right-block .item h3 {	
    margin-top: 40px;
    margin-bottom: 20px;

	/*text-transform: uppercase;*/
	color: #000000;
	font-family: 'OpenSans-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24.0692px;
	line-height: 0px;
	letter-spacing: 0.271838px;	
}

.stage-2-right-block .item p {
	margin: 0;

	/*text-transform: uppercase;*/
	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
	/*letter-spacing: 0.271838px;	*/
}

/*.hr-wrapper {
	display: flex;
	justify-content: center;
}*/

.hr-after-stage-2 {
	/*можно и его флексом центровать, но тогда обёртку ему делать.. проще так*/
	margin: 0 auto;
	max-width: 1249px;
	height: 2px;
	
	/*position: relative;*/
	/*top: 107px;*/

	/*margin: 0 0 92px 0;*/
	/*margin-bottom: 92px;*/

	background-color: #ECECEC;
	/*text-align: center;*/

	/*flex-basis: 1249px;*/
}

.stage-3 {
	min-height: 930px;

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;

	/*width: 1249px;*/

	/*margin-top: 92px;*/

	/*Выравнивание флексом:*/
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
}

.stage-3-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 107px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 92px;
	/*margin-bottom: 59px;*/

	/*Выравнивание флексом:*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stage-3-heading {
	max-width: 1249px;

	/*Выравнивание флексом:*/
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.stage-3-heading h2 {
	margin: 0;

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 55px;
	letter-spacing: 0.38px;
	word-break: break-word;
}

.stage-3-heading p {
	max-width: 537px;

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	text-align: center;
}

.stage-3-heading hr {
	width: 134px;
	height: 2px;
	background-color: #FF2D2D;
}

.stage-3-menu {
	max-width: 1249px;
	margin-top: 74px;

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.stage-3-menu a {
	text-decoration: none;
	/*padding: 33px 20px 32px 20px;*/
	margin: 5px 20px;

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.22px;		
}

.stage-3-menu a:hover {
	color: #FF2D2D;
}

.stage-3-menu a:nth-child(1) {
	color: #FF2D2D;	
}

.stage-3-content {
	max-width: 1249px;
	/*width: 100%;*/

	margin-top: 54px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	/*align-content: space-between;*/
}

.stage-3-content img {
	/*min-width: 200px;*/
	/*height: 293px;*/
	/*min-height: auto;*/

	/*margin-right: 10px;*/
	margin-bottom: 15px;
	/*flex: 1 1 300px;*/
	/*flex: 1 1 24%;*/
	/*width: 24%;*/
	object-fit: cover;
}

/*===================================================*/

.stage-4 {
	min-height: 930px;

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;

	/*width: 1249px;*/

	/*margin-top: 92px;*/

	/*Выравнивание флексом:*/
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
}

.stage-4-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 107px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 111px;
	/*margin-bottom: 59px;*/

	/*Выравнивание флексом:*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: center;*/
}

.stage-4-heading {
	/*background-color: gray;*/
}

.stage-4-heading h2 {
	margin: 0;

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 55px;
	letter-spacing: 0.38px;
	word-break: break-word;
}

.stage-4-heading p {
	max-width: 480px;

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	/*margin-left: 27px;*/
	margin-top: 19px;
	margin-bottom: 31px;
}

.stage-4-heading hr {
	width: 134px;
	height: 2px;
	background-color: #FF2D2D;

	/*margin-left: 27px;*/
	/*margin-right: 0;*/
	margin: 0;
}

.stage-4-content {
	/*background-color: #2E8580;*/
	margin-top: 69px;
	/*min-height: 460px;*/

	display: flex;
	/*justify-content: flex-start;*/
	/*align-items: flex-start;*/
	flex-wrap: wrap;

	position: relative;
}

.selected-persone-foto {
	/*background-color: #D03636;*/
}

.selected-persone-info {
	/*background-color: #6DAE6F;*/

	/*width: 74%;*/
	/*max-width: 663px;*/
	/*height: 200px;*/

	margin-left: 72px;
}

.selected-persone-info h3 {
	margin: 6px 0 0 0;

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	/*line-height: 0px;*/
	letter-spacing: 0.28px;		
}

.selected-persone-info p {
	max-width: 663px;
	margin-bottom: 40px;

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
}

.persone-contacts {
	/*background-color: #E2C67B;*/
}

.persone-contacts a {
	margin-right: 20px;
	text-decoration: none;

	color: #000000;
	font-family: 'OpenSans-Italic', sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.9px;
}

.all-persones {
	/*background-color: #D97373;*/

	position: absolute;
	left: 397px;
	top: 244px;

	/*width: 74%;*/
	/*width: */
	/*height: 217px;*/

	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
}

.all-persones .item {
	/*background-color: #89B2D2;*/

	width: 199px;
	height: 217px;

	margin-right: 14px;

	position: relative;
}

.all-persones .item:hover .item-info {
	display: block;
}

.item-info {
	display: none;
	/*width: 197px;*/
	width: 100%;
	/*height: 37px;*/

	position: absolute;
	bottom: 0;

	text-align: center;
	margin: 0;
	padding: 6px 0;
	
	background-color: #000000;
	/*mix-blend-mode: normal;*/
	opacity: 0.5;

	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'OpenSans-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/*line-height: 0px;*/
	letter-spacing: 0.165px;		
}

/*===================================================*/

.stage-5 {
	background-color: #2C2C2C;
	min-height: 516px;
	/*min-width: 300px;*/
	margin-top: 10px;

	/*Выравнивание флексом:*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stage-5-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 103px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	/*margin-top: 103px;*/
	
	/*min-height: 370px;*/

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	/*align-items: flex-start;*/	
}

.stage-5 h2 {
	/*margin: 0;*/
	margin-top: 8px;
	margin-bottom: 0;

	text-align: center;
	/*text-transform: uppercase;*/
	color: #FFFFFF;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	/*line-height: 24px;*/
	letter-spacing: 1.05px;
	word-break: break-word;
}

.stage-5 p {
	/*max-width: 480px;*/
	margin-top: 10px;
	margin-bottom: 56px;

	text-align: center;
	color: #FFFFFF;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	/*margin-left: 27px;*/
	/*margin-top: 19px;*/
	/*margin-bottom: 31px;*/
}

.subscribe-form {
	width: 100%;
	display: flex;
	justify-content: center;
	/*flex-wrap: wrap;*/
}

.email-input {
	/*height: 78px;*/
	/*width: 524px;*/
	max-width: 524px;
	min-width: 200px;
	flex: 1 1 400px;

	padding: 28px 0 28px 38px;

	border: 0;
	border-radius: 5px;

	color: #2C2C2C;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
}

.subscribe-button {
	/*display: inline-block;*/
	width: 217px;
	/*max-width: 217px;*/
	/*min-width: 180px;*/
	/*flex: 1 1;*/

	/*position: relative;*/
	/*left: 110px;*/
	
	margin-left: 19px;
	padding: 24px 0 24px 0;
	/*text-decoration: none;*/
	background-color: #FF2D2D;
	text-align: center;
	border: 0;
	border-radius: 5px;
	/*align-items: center;*/

	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;	
	letter-spacing: 0.3195px;
}

/*===================================================*/

.stage-6 {
	min-height: 300px;

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;

	/*width: 1249px;*/

	/*margin-top: 92px;*/

	/*Выравнивание флексом:*/
/*	display: flex;
	flex-direction: column;
	align-items: center;*/

	position: relative;
}

.stage-6-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 107px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 111px;
	/*margin-bottom: 59px;*/

	/*Выравнивание флексом:*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: center;*/

	/*position: relative;*/
}

.stage-6-heading {
	/*background-color: gray;*/
	/*width: */
	min-height: 200px;
}

.stage-6-heading h2 {
	margin: 0;

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 55px;
	letter-spacing: 0.38px;
	word-break: break-word;
}

.stage-6-heading p {
	max-width: 480px;

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	/*margin-left: 27px;*/
	margin-top: 19px;
	margin-bottom: 31px;
}

.stage-6-heading hr {
	width: 134px;
	height: 2px;
	background-color: #FF2D2D;

	/*margin-left: 27px;*/
	/*margin-right: 0;*/
	margin: 0;
}

.stage-6-content {
	margin-top: 80px;
	height: 485px;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.stage-6-form {
	background-color: green;
	width: 734px;
	min-height: 485px;
}

.stage-6-contacts {
	padding: 141px 13px 141px 81px;

	background-color: #2D2D2D;
	width: 315px;
	height: 203px;

/*	position: absolute;
	right: 0;
	bottom: 0;*/
}

.stage-6-contacts h3 {
	color: #FFFFFF;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	/*line-height: 0px;*/
	letter-spacing: 0.32px;	
	text-transform: uppercase;
}

.stage-6-contacts p {
	color: #FFFFFF;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	word-break: break-word;
}

/*фальш-поле справа на большой ширине*/
.stage-6-contacts-add {
	background-color: #2D2D2D;
	width: calc((100vw - 1249px) / 2);
	height: 485px;

	position: absolute;
	right: 0;
	bottom: 0;	
}

/*фальш-поле слева когда блок перескочил вниз
(можно и без этого, так, по приколу сделал)*/
.stage-6-contacts-add-2-left {
	display: none;

	background-color: #2D2D2D;
	width: 1vw;
	height: 485px;

	position: absolute;
	left: 0;
	bottom: -505px;	
}

/*фальш-поле справа когда блок перескочил вниз*/
.stage-6-contacts-add-2-right {
	display: none;

	background-color: #2D2D2D;
	width: 1vw;
	height: 485px;

	position: absolute;
	right: 0;
	bottom: -505px;
}



/*.stage-6-contacts::after {
	content: '';
	background-color: blue;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	width: 100%;
	height: 200px;
}*/



/*===================================================*/

@media screen and (max-width: 1270px) {
	.stage-1-base, 
	.stage-2-base,
	.stage-3-base,
	.stage-4-base,
 	.stage-5 {
		padding-left: 1vw;
		padding-right: 1vw;
	}

 	.stage-6-base {
		padding-left: 1vw;
		/*чтобы у stage-6-contacts не пропадал эффект прикрепления к правому краю экрана*/
	}

	.stage-1-left-block h1 {
		font-size: 5vw;
	}

	.stage-2-left-block h2,
	.stage-3-heading h2,
	.stage-4-heading h2,
	.stage-5 h2 {
		font-size: 4vw;
	}

	.stage-3-content {
		/* для компенсации margin-right у img */
		margin-left: 10px; 
	}

	.stage-3-content img {
		flex: 1 1 300px;
		/*flex: 1 1 24%;*/
		margin-right: 10px;
	}

	.stage-4 {
		margin-bottom: 70px;
	}	

	.stage-4-content {
		flex-wrap: wrap;
	}

	.selected-persone-foto {
		/*width: 90%;*/
		flex: 1 1;

		min-width: 200px;
		max-width: 324px;
		height: auto;
		max-height: 460px;
	}

	.selected-persone-info {
		margin-left: 20px;
		flex: 1 1 200px;
	}

	.all-persones {
		position: static;
		margin-top: 30px;
	}

	.all-persones .item {
		margin-bottom: 14px;
	}
}

@media screen and (max-width: 1154px) {
 	.stage-6-base {
		padding-left: 1vw;
		padding-right: 1vw;

		/*position: relative;*/
	}

	.stage-6-form {
		width: 100%;
		margin-bottom: 20px;		
	}

	.stage-6-contacts {
		/*position: absolute;*/

		width: 100%;
	}

	.stage-6-contacts-add {
		display: none;
	}

	.stage-6-contacts-add-2-left,
	.stage-6-contacts-add-2-right {
		display: block;
	}
}

@media screen and (max-width: 670px) {
	.stage-1-base,
	.stage-2-base {
		flex-wrap: wrap;
	}

	.stage-1-left-block,
	.stage-2-left-block {
		width: 100%;
		padding-right: 0;
	}

	.stage-1-left-block h1 {
		font-size: 8vw;
	}

	.image-link,
	.stage-2-right-block {
		width: 100%;
	}

	.stage-2-left-block h2,
	.stage-3-heading h2,
	.stage-4-heading h2,
	.stage-5 h2 {
		font-size: 7vw;
	}

	.stage-2-right-block .item {
		flex: 1 1 220px;
	}

	.stage-3-content {
		margin-left: 0; 
	}

	.stage-3-content img {
		width: 100%;
	}

	.stage-4-content {
		/*justify-content: center;*/
	}

	.selected-persone-foto {
		width: 100%;
	}

	.selected-persone-info {
		margin-left: 0;
		flex: 1 1 500px;
	}

	.selected-persone-info h3 {
		font-size: 6vw;
	}

	.subscribe-form {
		/*width: 100%;*/
		flex-wrap: wrap;
	}

	.email-input {
		width: 100%;
		margin-bottom: 15px;
		/*min-width: 200px;*/
		/*flex: 1 1 300px;*/
	}

	.subscribe-button {
		/*width: 50%;*/
		margin-left: 0;
		margin-bottom: 15px;
	}
}

