body {
	margin: 0;
	background-color: #F6F2F2;
}

.menu-wrapper {
	position: relative;
	margin: 0 auto;
	/*max-width: 1249px;*/
	width: 90%;
	min-width: 470px;
	height: 89px;
	top: 29px;
	background-color: #000000;
	opacity: 0.8;
	text-align: center;
}

.site-menu {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: inherit;
	list-style: none;
	text-align: center;
}

.site-menu li {
	position: relative;
	display: inline-block;
	height: inherit;
}

.site-menu li:hover {
	/*background-color: #FF3F40;*/
	background-color: #FF2D2D;
}

.site-menu a {
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	/*margin: 0 15px;*/
	padding: 36px 20px;
	height: inherit;
	top: 40%;
	color: #E0E0E0;
}

.content-wrapper {
	position: relative;
	/*display: inline-block;*/
	margin: 0 auto;
	padding: 0;
	/*max-width: 1249px;*/
	width: 90%;
	min-width: 470px;
	top: 102px;
}

.left-block {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 49%; 
	min-width: 545px;
	height: 370px;
	vertical-align: top;
}

.left-block h1 {
	margin: 0;
	/*width: 618px;*/
	width: 100%;
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	align-items: center;
	color: #000000;
}

.left-block p {
	position: relative;
	margin: 0;
	padding: 0;
	/*width: 545px;*/
	width: 100%;
	top: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	align-items: center;
	color: #000000;
}

.button-link {
	position: relative;
	padding: 19px 60px;
	top: 70px;
	text-decoration: none;
	background-color: #FF2D2D;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;
	align-items: center;
	letter-spacing: 0.32px;
	border-radius: 5px;
}

.right-block {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50%; 
	min-width: 551px;
	height: 370px;	
	left: 7px;
	vertical-align: top;
	text-align: right;
}

.image-link {
	position: relative;
	/*display: inline-block;*/
	width: 551px;
	height: 356px;
	top: 0;
	right: 0;
	/*background-color: gray;*/
}

