@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}



body {
	margin: 0;
}

.header-wrapper {
	background-color: #F6F2F2;
	min-height: 118px;
	display: flex;
	justify-content: center;
	/*align-items: flex-end;*/
}

header {
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	width: 1249px;
	min-height: 89px;
	display: flex;
	justify-content: center;
	margin-top: 29px;

	background-color: #000000;
	opacity: 0.8;

}

.site-menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*margin: 0;*/
	/*padding: 0;*/
	height: inherit;
	/*text-align: center;*/
}

.site-menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 33px 20px 32px 20px;
	color: #E0E0E0;

	font-family: 'OpenSans-Bold', sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.49px;
}

.site-menu a:hover {
	/*background-color: #FF3F40;*/
	background-color: #FF2D2D;
}


.content-wrapper {
	position: relative;
	/*display: inline-block;*/
	margin: 0 auto;
	padding: 0;
	/*max-width: 1249px;*/
	width: 90%;
	min-width: 470px;
	top: 102px;
}

.left-block {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 49%; 
	min-width: 545px;
	height: 370px;
	vertical-align: top;
}

.left-block h1 {
	margin: 0;
	/*width: 618px;*/
	width: 100%;
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	align-items: center;
	color: #000000;

	font-family: 'OpenSans-ExtraBold', sans-serif;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 1.5px;
}

.left-block p {
	position: relative;
	margin: 0;
	padding: 0;
	/*width: 545px;*/
	width: 100%;
	top: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	align-items: center;
	color: #000000;

	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
}

.button-link {
	position: relative;
	padding: 19px 60px;
	top: 70px;
	text-decoration: none;
	background-color: #FF2D2D;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;
	align-items: center;
	letter-spacing: 0.32px;
	border-radius: 5px;

	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;	
	letter-spacing: 0.3195px;
}

.right-block {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50%; 
	min-width: 551px;
	height: 370px;	
	left: 7px;
	vertical-align: top;
	text-align: right;
}

.image-link {
	position: relative;
	/*display: inline-block;*/
	width: 551px;
	height: 356px;
	top: 0;
	right: 0;
	/*background-color: gray;*/
}

