@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

/*===================================================*/

body {
	margin: 0;
	min-width: 270px; /*чтобы контент влево не уезжал, на очень узком экране (хотя можно это исправить потом)*/
}

.header-wrapper {
	background-color: #F6F2F2;
	min-height: 118px;
	/*min-width: 300px;*/

	/*Выравнивание флексом (можно и без него, но если в соответствии с ТЗ, то наверное так правильнее будет):*/
	display: flex;
	justify-content: center;
}

header {
	/*Если выравнивание без флекса:*/
	/*max-width: 1249px;*/
	/*margin: 0 auto;*/
	/*position: relative;*/
	/*top: 29px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 29px;

	min-height: 89px;

	display: flex;
	justify-content: center;

	background-color: #000000;
	opacity: 0.8;
}

.site-menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*margin: 0;*/
	/*padding: 0;*/
	height: inherit;
	/*text-align: center;*/
}

/*на смарте кнопки меню подвисают...*/
.site-menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 33px 20px 32px 20px;
	color: #E0E0E0;

	font-family: 'OpenSans-Bold', sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.49px;
}

.site-menu a:hover {
	/*background-color: #FF3F40;*/
	background-color: #FF2D2D;
}

/*===================================================*/

.stage-1 {
	background-color: #F6F2F2;
	min-height: 570px;
	/*min-width: 300px;*/

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;
}

.stage-1-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 103px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 103px;
	
	/*min-height: 370px;*/

	display: flex;
	/*justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	/*align-items: flex-start;*/	
}

.stage-1-left-block {
	/*margin: 0;*/
	padding-right: 50px;

	width: 55%;
	/*min-width: 300px;*/
	/*min-height: 370px;*/

	position: relative;
	top: -15px;
}

.stage-1-left-block h1 {
	margin: 0;
	/*width: 618px;*/
	/*width: 100%;*/
	/*align-items: center;*/

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-ExtraBold', sans-serif;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 1.5px;
	word-break: break-word;
}

.stage-1-left-block p {
	/*position: relative;*/
	margin: 19px 0 55px 0;
	/*margin-top: 37px;*/
	/*padding: 0;*/
	/*width: 545px;*/
	/*width: 100%;*/
	/*top: 20px;*/
	/*align-items: center;*/

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
}

.stage-1-left-block .button-link {
	display: inline-block;
	width: 230px;

	/*position: relative;*/
	/*left: 110px;*/
	
	padding: 12px 0 12px 0;
	text-decoration: none;
	background-color: #FF2D2D;
	text-align: center;
	border-radius: 5px;
	/*align-items: center;*/

	color: #FFFFFF;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;	
	letter-spacing: 0.3195px;
}

.image-link {
	width: 45%; 
	/*text-align: right;*/

	/*min-width: 300px;*/
	/*min-height: 370px;*/
}

.image-link img {
	/*position: relative;
	/*display: inline-block;*/
	width: 100%;
	height: auto;
	/*top: 0;*/
	/*right: 0;*/
	/*background-color: gray;*/
}

/*===================================================*/

.stage-2 {
	/*min-height: 570px;*/
	/*min-width: 300px;*/

	/*Выравнивание флексом:*/
	display: flex;
	justify-content: center;
}

.stage-2-base {
	/*Если выравнивание без флекса:*/
	/*margin: 0 auto;*/
	/*max-width: 1249px;*/
	/*position: relative;*/
	/*top: 107px;*/

	/*Если выравнивание флексом:*/
	width: 1249px;
	margin-top: 107px;
	
	/*min-height: 370px;*/

	display: flex;
	/*justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	/*align-items: flex-start;*/
}

.stage-2-left-block {
	/*margin: 0;*/
	padding-right: 39px;
	margin-bottom: 30px;

	width: 50%;
	/*min-width: 300px;*/
	/*min-height: 370px;*/

	position: relative;
	top: -10px;
}

.stage-2-left-block h2 {
	margin: 0;

	text-transform: uppercase;
	color: #000000;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 42.1902px;
	line-height: 55px;
	letter-spacing: 0.422159px;
	word-break: break-word;
}

.stage-2-left-block p {
	/*position: relative;*/
	margin: 32px 0 82px 0;

	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
}

.stage-2-left-block .button-link {
	display: inline-block;
	width: 227px;

	/*position: relative;*/
	/*left: 110px;*/
	
	padding: 10px 0 10px 0;
	text-decoration: none;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.0001);
	border: 2px solid #FF0000;
	box-sizing: border-box;
	border-radius: 5px;
	/*align-items: center;*/

	color: #FF2D2D;
	font-family: 'OpenSans-Bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;	
	letter-spacing: 0.3195px;
}


.stage-2-right-block {
	/*margin: 0;*/
	/*padding-right: 50px;*/

	width: 50%;
	/*min-width: 300px;*/
	/*min-height: 370px;*/

	/*position: relative;*/
	/*top: -15px;*/

	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.stage-2-right-block .item {
	/*width: 50%;*/
	flex: 1 1 290px;
	margin-bottom: 49px;
}

.stage-2-right-block .item:nth-child(odd) {
	margin-right: 15px;
}

.stage-2-right-block .item h3 {	
    margin-top: 40px;
    margin-bottom: 20px;

	/*text-transform: uppercase;*/
	color: #000000;
	font-family: 'OpenSans-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24.0692px;
	line-height: 0px;
	letter-spacing: 0.271838px;	
}

.stage-2-right-block .item p {
	margin: 0;

	/*text-transform: uppercase;*/
	color: #000000;
	font-family: 'OpenSans-Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;	
	/*letter-spacing: 0.271838px;	*/
}




/*===================================================*/

@media screen and (max-width: 1130px) {
	.stage-1-base, 
	.stage-2-base {
		padding-left: 1vw;
		padding-right: 1vw;
	}

	.stage-1-left-block h1 {
		font-size: 5vw;
	}

	.stage-2-left-block h2 {
		font-size: 4vw;
	}	
}

@media screen and (max-width: 670px) {
	.stage-1-base,
	.stage-2-base {
		flex-wrap: wrap;
	}

	.stage-1-left-block,
	.stage-2-left-block {
		width: 100%;
		padding-right: 0;
	}

	.stage-1-left-block h1 {
		font-size: 8vw;
	}

	.image-link,
	.stage-2-right-block {
		width: 100%;
	}

	.stage-2-left-block h2 {
		font-size: 7vw;
	}
}

